[palettes.catppuccin_mocha]
rosewater = "#f5e0dc"
flamingo = "#f2cdcd"
pink = "#f5c2e7"
mauve = "#cba6f7"
red = "#f38ba8"
maroon = "#eba0ac"
peach = "#fab387"
yellow = "#f9e2af"
green = "#a6e3a1"
teal = "#94e2d5"
sky = "#89dceb"
sapphire = "#74c7ec"
blue = "#89b4fa"
lavender = "#b4befe"
text = "#cdd6f4"
subtext1 = "#bac2de"
subtext0 = "#a6adc8"
overlay2 = "#9399b2"
overlay1 = "#7f849c"
overlay0 = "#6c7086"
surface2 = "#585b70"
surface1 = "#45475a"
surface0 = "#313244"
base = "#1e1e2e"
mantle = "#181825"
crust = "#11111b"

palette = "catppuccin_mocha"

format = """
$username\
$directory\
$git_branch\
$git_status\
$fill\
$all\
$cmd_duration\
$line_break\
$character\
"""

[fill]
symbol = " "

[character]
success_symbol = '[](bold teal)'
error_symbol = '[](bold red)'

[username]
style_user = 'green bold'
format = ' [$user]($style) [ngodonf](yellow) [on](mauve) '
disabled = false
show_always = true

[directory]
style = "blue italic"
format = "[$path]($style) "
truncation_length = 3
fish_style_pwd_dir_length = 1

[git_branch]
symbol = " "
style = "pink"

[git_status]
format = "([$all_status$ahead_behind]($style))"
style = "maroon"

[nodejs]
symbol = " "
style = "green"

[bun]
symbol = " "
style = "rosewater"

[golang]
symbol = " "
style = "sapphire"
